{% extends 'clients/cardiologist/doctor_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% block content %}
<div>
	<h3>Cardiologist Details</h3>
	<hr>
	<h4>{{cardiologist.first_name}} {{cardiologist.last_name}}</h4>
	<div class="row">
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Address: </label> {{cardiologist.str_address}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Email: </label> {{cardiologist.email}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Phone 1: </label> {{cardiologist.phone_1}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Phone 2: </label> {{cardiologist.phone_2}}
		</div>
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Other 1: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 2: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 3: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 4: </label> 
			<br>
	</div>
	<hr>
</div>
<div>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal">Update</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>


<!-- Delete Client Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Cardiologist"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
	  	<form method="post" action="{% url 'client:cardiologist_delete' cardiologist.pk %}">
			{% csrf_token %}
        	<button type="submit" class=" delete btn btn-danger" data-id="{% url 'client:cardiologist_delete' cardiologist.pk %}">Delete Cardiologist</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</form>
      </div>
    </div>
  </div>
</div>

<!-- Update Client Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Cardiologist</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Update the details for "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
      <div class="container">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#doctor_details" role="tab" aria-controls="nav-home" aria-selected="true">Cardiologist Details</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#contact_details" role="tab" aria-controls="nav-profile" aria-selected="false">Contact Details</a>
              </div>
          </nav>


	  	<form method="post" action="{% url 'client:cardiologist_update' cardiologist.pk %}">
      {% csrf_token %}
      <div class='tab-content' id="nav-tabContent">

			  <div class='form-row tab-pane fade show active' id="doctor_details" role="tabpanel" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class='form-group col-md-4 mb-0'>
              {{ form.first_name|as_crispy_field }}
              {{ form.last_name|as_crispy_field }}
            </div>
        </div>


        <div class='form-row tab-pane fade' role="tabpanel" id="contact_details" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class='form-row'>
            <div class='form-group col-md-6 mb-0'>
              {{ form.str_address|as_crispy_field }}
              {{ form.email|as_crispy_field }}
            </div>
            <div class='form-group col-md-6 mb-0'>
              {{ form.phone_1|as_crispy_field }}
              {{ form.phone_2|as_crispy_field }}
            </div>
          </div>
        </div>

        <button type="submit" class=" update btn btn-danger" data-id="{% url 'client:cardiologist_update' cardiologist.pk %}">Update Cardiologist</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
      

      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scrypt %}
<script type="text/javascript">
  $(document).ready(function() {
  
    // Update book buttons
    $(".update").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
           // Delete 
    $(".delete").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
  
  });
  </script>
{% endblock %}