{% extends "clients/cardiologist/doctor_base.html" %}

{% block content %}
        <h3>Search Results</h3>
        {% for cardiologist in results_list %}
        <div class="card">
                <h4 class="card-header">{{cardiologist.first_name}} {{cardiologist.last_name}}</h4>
                <div class="card-body">
                        <div class="row">
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Address: </label>{{cardiologist.address}}<br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Email: </label> {{cardiologist.email}}
                                </div>
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Phone # 1: </label>{{cardiologist.phone_1}}<br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Phone # 2: </label>{{cardiologist.phone_2}}
                                </div>
                        </div>
                        <div class="row">
                                <a class="btn btn-secondary" href="{% url 'client:cardiologist_detail' cardiologist.pk %}">Details</a> 
                        </div>       
                </div>
        </div>
        {% endfor %}
{% endblock %}