{% extends 'clients/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
	<h3>Service Details for {{service.client.first_name}} {{service.client.last_name}} for {{service.MDC_IDC_SESS_DTM}}</h3>
	<h4>{{service.MDC_IDC_SESS_TYPE}}</h4>
</div>
<div id="accordion">
	<div class="card">
	  <div class="card-header" id="headingOne">
		<h5 class="mb-0">
		  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<span class="oi oi-wrench" aria-hidden="true"></span>&nbsp;
			Measurements
		  </button>
		</h5>
	  </div>
  
	  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="card-body">
			<div class="row">
				<div class="col">
						<table >
							<tr><td style="color: #7B1FA2; font-weight: bold;">Battery</td></tr>
							<tr><td style="color: #7B1FA2;">Battery Voltage: <span style="color: #34495E;"><u>{{service.MDC_IDC_MSMT_BATTERY_VOLTAGE}}</u></span></td></tr>
							<tr><td style="color: #7B1FA2;">Battery Charge Time: <span style="color: #34495E;"><u>{{service.MDC_IDC_MSMT_CAP_CHARGE_TIME}}</u></span></td></tr>
						</table>
				</div>
				<div class="col">
						<table >
							<tr><td style="color: #7B1FA2; font-weight: bold;">Right Atrium</td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Percentage: <span style="color: #34495E;">{{service.MDC_IDC_STAT_BRADY_RA_PERCENT_PACED}}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Sensing Amplitude: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RA_SENSING_INTR_AMPL_MEAN}}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Impedance: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RA_IMPEDANCE_VALUE}}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Theshold: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RA_PACING_THRESHOLD_AMPLITUDE}}</span></td></tr>
						</table>
				</div>
				<div class="col">
						<table >
							<tr><td style="color: #7B1FA2; font-weight: bold;">Right Ventricle</td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Percentage: <span style="color: #34495E;">{{service.MDC_IDC_STAT_BRADY_RV_PERCENT_PACED}}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Sensing Amplitude: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RV_SENSING_INTR_AMPL_MEAN }}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Impedance: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RV_IMPEDANCE_VALUE}}</span></td></tr>
							<tr><td style="color: #7B1FA2;">Pacing Threshold: <span style="color: #34495E;">{{service.MDC_IDC_MSMT_LEADCHNL_RV_PACING_THRESHOLD_AMPLITUDE}}</span></td></tr>
						</table>
				</div>
			</div>
		</div>
	  </div>
	</div>

	<div class="card">
	  <div class="card-header" id="headingTwo">
		<h5 class="mb-0">
		  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<span class="oi oi-pulse" aria-hidden="true"></span>&nbsp;
			Arrhythmias
		  </button>
		</h5>
	  </div>

	  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		<div class="card-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		</div>
	  </div>
	</div>

	<div class="card">
	  <div class="card-header" id="headingThree">
		<h5 class="mb-0">
		  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<span class="oi oi-text" aria-hidden="true"></span>&nbsp;
			Comments
		  </button>
		</h5>
	  </div>
	  
	  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		<div class="card-body">
			<p>
				{{service.MDC_IDC_SESS_COMMENTS}}
			</p>
		</div>
	  </div>
	</div>
</div>



<div>
<a class="btn btn-secondary" href="{% url 'client:history' service.client_id %}">Back to Services</a>
<a class="btn btn-secondary" href="{% url 'client:service_update' service.pk %}">Update</a>
<a class="btn btn-primary" href="{% url 'client:service_html_pdf' service.pk %}" target="_blank">Generate PDF</a>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal">Updater</button>
</div>

<!-- Delete Service Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title">Delete Service"</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Are you sure you want to delete this service</p>
		</div>
		<div class="modal-footer">
			<form method="post" action="{% url 'client:service_delete' service.pk %}">
			  {% csrf_token %}
			  <button type="submit" class="btn btn-danger">Delete Service</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </form>
		</div>
	  </div>
	</div>
  </div>

<!-- Update Service Model-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title">Update Service"</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#batt_details" role="tab" aria-controls="nav-home" aria-selected="true">Battery Details</a>
					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#measurements" role="tab" aria-controls="nav-profile" aria-selected="false">Device Meaurements</a>
					<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="nav-contact" aria-selected="false">Comments</a>
				</div>
			</nav>
		
		<form  method="post" action="{% url 'client:service_detail' service.pk%}">
			{% csrf_token %}
			<div class='tab-content' id="nav-tabContent">
				<div class='form-row tab-pane fade show active' role="tabpanel" id="batt_details" role="tabpanel">
					<div class='form-group col-md-4 mb-0'>
					{{ form.MDC_IDC_SESS_TYPE|as_crispy_field}}
					{{ form.MDC_IDC_SESS_DTM|as_crispy_field }}
					{{ form.MDC_IDC_STAT_BRADY_RA_PERCENT_PACED|as_crispy_field }}
					{{ form.MDC_IDC_STAT_BRADY_RV_PERCENT_PACED|as_crispy_field }}
					{{ form.MDC_IDC_STAT_CRT_LV_PERCENT_PACED|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_BATTERY_VOLTAGE|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_CAP_CHARGE_TIME|as_crispy_field }}
					</div>
				</div>
		
			  <div class='form-row tab-pane fade' role="tabpanel" id="measurements" role="tabpanel">
				<div class='form-row'>
				  <div class='form-group col-md-6 mb-0'>
					{{ form.MDC_IDC_MSMT_LEADCHNL_RA_SENSING_INTR_AMPL_MEAN|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RA_IMPEDANCE_VALUE|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RA_PACING_THRESHOLD_AMPLITUDE|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RA_PACING_THRESHOLD_PULSEWIDTH|as_crispy_field  }}
					
				  </div>
				  <div class='form-group col-md-6 mb-0'>
					{{ form.MDC_IDC_MSMT_LEADCHNL_RV_SENSING_INTR_AMPL_MEAN|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RV_IMPEDANCE_VALUE|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RV_PACING_THRESHOLD_AMPLITUDE|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADCHNL_RV_PACING_THRESHOLD_PULSEWIDTH|as_crispy_field }}
					{{ form.MDC_IDC_MSMT_LEADHVCHNL_IMPEDANCE|as_crispy_field }}
				  </div>
				</div>
			  </div>
		
			  <div class='form-row tab-pane fade' role="tabpanel" id="comments" role="tabpanel">
				<div class='form-group col-md-12 mb-0 '>
				  <div style="overflow-y: scroll; border: thin solid black;">
					{{ form.MDC_IDC_SESS_COMMENTS|as_crispy_field }}
				  </div>
				</div>
			  </div>
			  <button type="submit" class="btn btn-danger">Update Service</button>
			</div>
			</form>
		  </div>
		</div>
	  </div>
</div>
{% endblock %}

