
 {% extends 'clients/base.html' %}

 {% block content %}
     <h5>Update a Procedure</h5>
     <form method="POST" class="new-form" enctype="multipart/form-data">
         {% csrf_token %}
        {{ form.as_p }}
         <button type="submit" class="btn btn-secondary">Update</button>
     </form>
 {% endblock %}