{% extends 'clients/base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-9">
		<p>Are you sure you want to delete this {{ Object.oos_type}} ?</p>
		<div class="row">
			<div class="col-xs-8 col-sm-6">
				<form method="post">
					{% csrf_token %}
    				<input class="btn btn-danger" type="submit" value="Confirm">
				</form>
			</div>
			<div class="col-xs-4 col-sm-6">
				<a class="btn btn-secondary" href="{% url 'client:service' service.client.pk %}">Cancel</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
