{% extends 'clients/gp/doctor_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
	<h3>Doctor Details</h3>
	<hr>
	<h4>{{general_practitioner.first_name}} {{general_practitioner.last_name}}</h4>
	<div class="row">
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Address: </label> {{general_practitioner.str_address}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Email: </label> {{general_practitioner.email}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Phone 1: </label> {{general_practitioner.phone_1}}
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Phone 2: </label> {{general_practitioner.phone_2}}
		</div>
		<div class="col">
			<label style="color: #7B1FA2; font-weight: bold;">Other 1: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 2: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 3: </label> 
			<br>
			<label style="color: #7B1FA2; font-weight: bold;">Other 4: </label> 
			<br>
	</div>
	<hr>
</div>
<div>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal">Update</button>
  <a type="button" class="btn btn-danger" href="{% url 'client:generalpactitioner_update' object.pk %}">Updater</a>

	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>


<!-- Delete Client Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete General Practitioner"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{object.first_name}} {{ object.last_name }}"</p>
      </div>
      <div class="modal-footer">
	  	<form method="post" action="{% url 'client:generalpractitioner_delete' object.pk %}">
			{% csrf_token %}
        <button type="submit" class=" delete btn btn-danger">Delete General Practitioner</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</form>
      </div>
    </div>
  </div>
</div>

<!-- Update Client Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" id="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Doctor</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <div class="container">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#doctor_details" role="tab" aria-controls="nav-home" aria-selected="true">Doctor Details</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#contact_details" role="tab" aria-controls="nav-profile" aria-selected="false">Contact Details</a>
              </div>
          </nav>


	  	<form method="post" action="{% url 'client:generalpactitioner_update' general_practitioner.pk %}">
      {% csrf_token %}
      <div class='tab-content' id="nav-tabContent">
			  <div class='form-row tab-pane fade show active' id="doctor_details" role="tabpanel" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class='form-group col-md-4 mb-0'>
              {{ form.first_name|as_crispy_field }}
              {{ form.last_name|as_crispy_field }}
            </div>
        </div>


        <div class='form-row tab-pane fade' role="tabpanel" id="contact_details" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class='form-row'>
            <div class='form-group col-md-6 mb-0'>
              {{ form.str_address|as_crispy_field }}
              {{ form.email|as_crispy_field }}
            </div>
            <div class='form-group col-md-6 mb-0'>
              {{ form.phone_1|as_crispy_field }}
              {{ form.phone_2|as_crispy_field }}
            </div>
          </div>
        </div>

        <button  type="submit" class="btn btn-danger">Update Doctor</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
      
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

