{% extends "clients/gp/doctor_base.html" %}

{% block content %}
        <h3>Search Results</h3>
        {% for generalpractitioner in results_list %}
        <div class="card">
                <h4 class="card-header">{{generalpractitioner.first_name}} {{dgeneralpractitioner.last_name}}</h4>
                <div class="card-body">
                        <div class="row">
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Address: </label>{{generalpractitioner.address}}<br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Email: </label> {{doctor.email}}
                                </div>
                                <div class="col">
                                        <label style="color: #7B1FA2; font-weight: bold;"> Phone # 1: </label>{{generalpractitioner.phone_1}}<br>
                                        <label style="color: #7B1FA2; font-weight: bold;"> Phone # 2: </label>{{generalpractitioner.phone_2}}
                                </div>
                        </div>
                        <div class="row">
                                <a class="btn btn-secondary" href="{% url 'client:generalpractitioner_detail' generalpractitioner.pk %}">Details</a> 
                        </div>       
                </div>
        </div>
        {% endfor %}
{% endblock %}