<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clients</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0288d1 ;">
        <title class="navbar-brand" id="title" href="{% url 'client:index' %}">Remote Hero Clinic</title>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client:client_index' %}">
                        <span class="oi oi-action-undo" aria-hidden="true"></span>&nbsp; Clients
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client:generalpractitioner_index' %}">
                        <span class="mdi mdi-home" aria-hidden="true"></span>&nbsp; Doctor Index
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client:generalpractitioner_new' %}">
                        <span class="oi oi-plus" aria-hidden="true"></span>&nbsp; Doctor
                    </a>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'client:generalpractitioner_search' %}">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Doctor Search" aria-label="Search">
             <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock  %}

</div>

</body>
</html>
{% block scrypt %}
<script type="text/javascript">
$(document).ready(function () {
    var links = $('.navbar ul li a');
    $.each(links, function (key, va) {
        if (va.href == document.URL) {
            $(this).addClass('active');
        }
    });
});
</script>
{% endblock %}