{% extends 'clients/gp/doctor_base.html' %}

{% load static %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% block content %}
<div class="container container-fluid " style="background-color:rgb(155, 164, 165);">       
    <h1 class="display-8" style="color: white;">Add New General Practitioner</h1>    
</div>
<div class="container">
<form method="POST" class="update-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" name= "first_name" id="inputFirstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" name="last_name" id="inputLastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Email">
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Phone 1</label>
        <input type="number" name="phone_1"  class="form-control"  id="inputPhone1" placeholder="Phone 1">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPhone1">Phone 2</label>
        <input type="number" name="phone_2"  class="form-control" id="inputPhone2" placeholder="Phone 2">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" name="str_address" id="inputAddress" placeholder="1234 Main St">
    </div>
    


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" name="ct_address" class="form-control" id="inputCity" placeholder="Sydney">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" name="st_address">
          <option selected>New South Wales</option>
          <option>Queensland</option>
          <option>Victoria</option>
          <option>Canberra</option>
          <option>Northern Territory</option>
          <option>South Australia</option>
          <option>Western Australia</option>
          <option>Tasmania</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="number" name="pc_address" class="form-control" id="inputZip" placeholder="0000">
      </div>
    </div>
    <button type="submit" class=" create btn btn-primary">Add New General Practitioner</button>
  </form>
</div>
{% endblock %}

{% block scrypt %}
<script type="text/javascript">
  $(function () {
    // Create book button
    $(".create").modalForm({formURL: "{% url 'client:generalpractitioner_new' %}"});
  });
</script>
{% endblock %}