<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clients</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ form.media }}


</head>
<body>
<div class="container">
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <title class="navbar-brand" id="title">Remote Master Command</title>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client:index' %}">
                        <span class="oi oi-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'client:client_new' %}">
                            <span class="oi oi-person" aria-hidden="true"></span>&nbsp; New Client
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'client:client_index' %}">
                            <span class="oi oi-people" aria-hidden="true"></span>&nbsp; Client Index
                        </a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="oi oi-account-login" aria-hidden="true"></span>&nbsp; Login
                        </a>
                    </li>
        </div>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'client:search' %}">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Client Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock  %}

</div>

</body>
</html>
{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    var links = $('.navbar ul li a');
    $.each(links, function (key, va) {
        if (va.href == document.URL) {
            $(this).addClass('active');
        }
    });
});
</script>
{% endblock %}