{% extends 'clients/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Add a Client</h1>
    <form method="POST" class="new-form"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class='form-row'>
        <div class='form-group col-md-4 mb-0'>
          {{ form.record_number|as_crispy_field }}
          {{ form.first_name|as_crispy_field }}
          {{ form.last_name|as_crispy_field }}
          {{ form.dob|as_crispy_field }}
        </div>

        <div class='form-group col-md-4 mb-0'>
            {{ form.device|as_crispy_field }}
            {{ form.implant_date | as_crispy_field }}
            {{ form.general_practitioner|as_crispy_field }}
            
        </div>
        <div class='form-group col-md-4 mb-0'>
            <div >
                {{ form.device_serial|as_crispy_field }}
                {{ form.cardiologist|as_crispy_field }}
            </div>
        </div>

      </div>
      <div class='form-row'>
      <button type="submit" class="btn btn-secondary">Add a client</button>
      </div>
  </form>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker()
  });
</script>
{% endblock %}