{% extends "clients/base.html" %}

{% block content %}
        
        <h3>All Clients</h3>
        
        <table class="table table-sm table-hover table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">Record Number</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Device</th>
                            <th scope="col">MRI Safe</th>
                            <th scope="col">Services</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for client in all_clients %}
                        <tr>
                            <td><a class="btn text-purple btn-link" href="{% url 'client:client_detail' client.pk %}">{{client.record_number}}</a</td>
                            <td>{{client.first_name}} {{client.last_name}}</td>
                            <td>{{client.dob}}</td>
                            <td>{{client.device}}</td>
                            <td>{{client.device.mri_compatability}}</td>
                            <td><a class="btn btn-secondary" href="{% url 'client:client_detail' client.pk %}">Details</a></td>
                          </tr>
                            {% endfor %}
                        </tbody>
                      </table>
       

<div class = "container">
  <nav class = "Page navigation">
  {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"> 
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item"> 
                <a class="page-link btn disabled" role="button" href="#" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
                <a class="page-link btn disabled" role="button" href="#" aria-disabled="true">Next</a>
        </li>
        {% endif %}
     </ul>
     {% endif %}
  </nav>
</div>
{% endblock %}