{% extends "clients/base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a an area that will show demographics of the site. This will include things as the # of patients an break down in device manufacturers, device types, if the patient is on RHM, hazard alerts, etc..</p>
  <hr class="my-4">
  <p>The breakdown will be in graph and numerical format with no links.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% endblock %}