<table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Record Number</th>
            <th scope="col">Full Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Device</th>
            <th scope="col">MRI Safe</th>
            <th scope="col">Services</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{client.record_number}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>{{client.first_name}} {{client.last_name}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>{{client.dob}}</td>
          </tr>
          <tr>
                <th scope="row"></th>
                <td>{{client.device}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>{{client.device.mri_compatability}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td><a class="btn btn-secondary" href="{% url 'client:client_detail' client.pk %}">Details</a></td>
            </tr>
            
        </tbody>
      </table>




        {% block script %}
        <script type="text/javascript">
          $(function () {
            $('#datepicker').datetimepicker()
          });
        </script>
        {% endblock %}


<input type="hidden" name="client" value="{{form.client.id}}">



{% extends 'clients/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<h1>Update Service</h1>

<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#batt_details" role="tab" aria-controls="nav-home" aria-selected="true">Battery Details</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#measurements" role="tab" aria-controls="nav-profile" aria-selected="false">Device Meaurements</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="nav-contact" aria-selected="false">Comments</a>
        </div>
    </nav>

<form  method="POST" class="update-form" enctype="multipart/form-data" action="{% url 'client:service_update' service.pk %}">
    {% csrf_token %}
    <div class='tab-content' id="nav-tabContent">
            <div class='form-row tab-pane fade show active' role="tabpanel" id="batt_details" role="tabpanel">
        <div class='form-group col-md-4 mb-0'>
          {{ form.MDC_IDC_SESS_TYPE|as_crispy_field}}
          {{ form.MDC_IDC_SESS_DTM|as_crispy_field }}
          {{ form.MDC_IDC_STAT_BRADY_RA_PERCENT_PACED|as_crispy_field }}
          {{ form.MDC_IDC_STAT_BRADY_RV_PERCENT_PACED|as_crispy_field }}
          {{ form.MDC_IDC_STAT_CRT_LV_PERCENT_PACED|as_crispy_field }}
          {{ form.MDC_IDC_MSMT_BATTERY_VOLTAGE|as_crispy_field }}
          {{ form.MDC_IDC_MSMT_CAP_CHARGE_TIME|as_crispy_field }}
        </div>
      </div>

      <div class='form-row tab-pane fade' role="tabpanel" id="measurements" role="tabpanel">
        <div class='form-row'>
          <div class='form-group col-md-6 mb-0'>
            {{ form.MDC_IDC_MSMT_LEADCHNL_RA_SENSING_INTR_AMPL_MEAN|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RA_IMPEDANCE_VALUE|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RA_PACING_THRESHOLD_AMPLITUDE|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RA_PACING_THRESHOLD_PULSEWIDTH|as_crispy_field }}
            
          </div>
          <div class='form-group col-md-6 mb-0'>
            {{ form.MDC_IDC_MSMT_LEADCHNL_RV_SENSING_INTR_AMPL_MEAN|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RV_IMPEDANCE_VALUE|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RV_PACING_THRESHOLD_AMPLITUDE|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADCHNL_RV_PACING_THRESHOLD_PULSEWIDTH|as_crispy_field }}
            {{ form.MDC_IDC_MSMT_LEADHVCHNL_IMPEDANCE|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class='form-row tab-pane fade' role="tabpanel" id="comments" role="tabpanel">
        <div class='form-group col-md-12 mb-0 '>
          <div style="overflow-y: scroll; border: thin solid black;">
            {{ form.MDC_IDC_SESS_COMMENTS|as_crispy_field }}
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-danger">Update Service</button>
      <a type="button" class="btn btn-secondary" href="{% url 'client:service_detail' service.pk %}">Return</a>
    </div>
    </form>
    </div>
    {% endblock %}
        
        